$color_pink: #ff3e79;
$color_black: #1b1c21;
$color_blue: #41f6d7;
$color_transparent: rgba(0, 0, 0, 0);
$color_whiteblue: #b8ffec;
$color_whitepink: #ffb8b8;
$color_whitegray: #f8f8f8;
$color_lightgray: #eaeaea;
$color_gray: #7e7e82;
$width_tablet: 768px;
$width_pc: 1120px;
$main_transition: 0.5s;
$title_gradient: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
